.col-sm-12
  a.pull-right(ng-click="vm.deleteIssue(issue)")
    i.fa.fa-trash
    
.col-sm-12
  table.table
    tbody
      tr
        th.h5(scope="row") Story Type
        td.text-right 
          ui-select(ng-model="issue.type" on-select="vm.issueUpdated(issue)" on-remove="vm.issueUpdated(issue)")
            ui-select-match
                span(ng-bind="$select.selected")
            ui-select-choices(repeat="type in (vm.types | filter: $select.search) track by type")
                span(ng-bind="type")
      
      tr
        th.h5(scope="row") Points
        td.text-right
          ui-select(ng-model="issue.points" on-select="vm.issueUpdated(issue)" on-remove="vm.issueUpdated(issue)")
            ui-select-match
                span(ng-bind="$select.selected")
            ui-select-choices(repeat="points in (vm.points | filter: $select.search) track by points")
                span(ng-bind="points")
      
      tr.stage
        th.h5(scope="row") State
        td.text-right
          .col-xs-6.text-left
            a.btn.btn-primary(ng-repeat="nextStage in vm.getNextStages(issue.stage)" ng-click="vm.goToStage(issue, nextStage.name)" ng-class="nextStage.name") 
              {{ nextStage.button }}
            
          .col-xs-6    
            ui-select(ng-model="issue.stage" on-select="vm.issueUpdated(issue)" on-remove="vm.issueUpdated(issue)")
              ui-select-match
                  span(ng-bind="$select.selected")
              ui-select-choices(repeat="item in (vm.stages | filter: $select.search) track by item")
                  span(ng-bind="item")
      
      tr
        th.h5(scope="row") Requester
        td.text-right 
          a(href="{{ issue.author.web_url }}") {{ issue.author.name }}
        
      tr
        th.h5(scope="row") Owners
        td.text-right 
          ui-select(ng-model="issue.assignee" on-select="vm.issueUpdated(issue)" on-remove="vm.issueUpdated(issue)")
            ui-select-match
                span(ng-bind="$select.selected.username")
            ui-select-choices(repeat="user in (vm.users | filter: $select.search) track by user.id")
                span(ng-bind="user.username")
                
        tr
          th.h5(scope="row") Milestone
          td.text-right 
            ui-select(ng-model="issue.milestone" on-select="vm.issueUpdated(issue)" on-remove="vm.issueUpdated(issue)")
              ui-select-match
                  span(ng-bind="$select.selected.title")
              ui-select-choices(repeat="milestone in (vm.milestones | filter: $select.search) track by milestone.id")
                  span(ng-bind="milestone.title")
                        
.col-sm-12
  h5 Description
  .col-sm-12
    a.pull-right(ng-if="!issue.isNew" ng-click="issue.editDescription = !issue.editDescription") 
      span(ng-if="!issue.editDescription") edit
      span(ng-if="issue.editDescription" ng-click="vm.issueUpdated(issue)") save
    
  .col-sm-12.well
    div(markdown="issue.description" project="vm.project")
  
  
  mention(ng-model="issue.description" placeholder="no description." ng-show="issue.editDescription || issue.isNew")

.col-sm-12
  h5 Tags
  ui-select(
    multiple 
    tagging 
    tagging-label="" 
    ng-model="issue.labels" 
    theme="bootstrap" 
    ng-disabled="false" 
    title="Choose a label" 
    on-select="vm.issueUpdated(issue)"
    on-remove="vm.issueUpdated(issue)"
  )
    ui-select-match(placeholder="Enter labels...") {{ $item.name || $item }}
    ui-select-choices(repeat="label in vm.labels | filter:$select.search")
      {{ label.name }}

.col-sm-12
  note(project="vm.project" issue="issue")
